.btn {
  font-size: $medium-size;
  text-decoration: none;

  &__edit {
    @extend .btn;
    @include button(auto, "edit");
  }

  &__filter {
    @extend .btn;
    @include button(auto, "filter");
  }

  &__delete {
    @extend .btn;
    @include button(auto, "delete");
  }

  &__disabled {
    @extend .btn;
    @include button(auto, "disabled");
  }

  &__link {
    @extend .btn;
    @include button(auto, "link");
  }

  &__primary {
    @extend .btn;
    @include button(100%, "primary");
  }
  &__secondary {
    @extend .btn;
    @include button(auto, "secondary");
  }
  &__tertiary {
    @extend .btn;
    @include button(auto, "tertiary");
  }
  &__wishlist {
    @extend .btn;
    @include button(auto, "wishlist");
    @include mobile {
      margin: 1.6rem 0;
    }
  }
}
