.btn {
  font-size: $medium-size;
  text-decoration: none;

  &__edit {
    @extend .btn;
    @include button(auto, "edit");
  }

  &__filter {
    @extend .btn;
    @include button(auto, "filter");
  }

  &__delete {
    @extend .btn;
    @include button(auto, "delete");

    &.min {
      @include tablet {
        width: 3rem;
        min-width: 3rem;
        height: 3rem;
      }
    }
  }

  &__disabled {
    @extend .btn;
    @include button(auto, "disabled");
    color: $blue-grey;
  }

  &__link {
    @extend .btn;
    @include button(auto, "link");
  }

  &__primary {
    @extend .btn;
    @include button(100%, "primary");
  }
  &__secondary {
    @extend .btn;
    @include button(auto, "secondary");
  }
  &__tertiary {
    @extend .btn;
    @include button(auto, "tertiary");
  }
  &__wishlist {
    @extend .btn;
    @include button(auto, "wishlist");
    @include mobile {
      margin: 1.6rem 0;
    }

    &.min {
      font-size: $medium-size;
      height: 4rem;
      width: 4rem;
      padding: 0;
      &:before {
        background-size: contain;
        background-position: center;
        width: 1.7rem;
        height: 1.7rem;

        top: auto;
        left: auto;
      }
      @include tablet {
        margin: 0;
        width: 3rem;
        min-width: 3rem;
        height: 3rem;
      }
    }
  }

  &.auto {
    width: auto;
  }

  &.medium {
    max-width: 20rem;
  }
}
