.tableDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  &__top {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 10rem;
    width: 100%;
    line-height: 2.15;
    &-head {
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      overflow-x: auto;

      @include until(1024px) {
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }
  &__bottom {
    background-color: $white;
    font-size: $small-size;
    color: $blackio;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto;

    @include until(1024px) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__scrollable {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 52rem;
    width: 100%;
    overflow-y: auto;

    &-in {
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      width: 100%;
      min-width: 142rem;
      flex-wrap: nowrap;
    }
  }
  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 0;
    font-size: $medium-size;
    color: $dusk;
    letter-spacing: normal;
    text-align: center;
    word-break: break-word;
    width: 100%;

    @include tablet {
      width: 100%;
    }

    &-head {
      @extend .simpleTable__cell;
      text-align: center;
      font-weight: $semibold;
      font-size: $regular-size;
      color: $black-green;
    }

    &-in {
      @include from($tablet) {
        display: none;
      }
      display: flex;
      margin-right: 0.8rem;
      font-weight: $semibold;
      display: none;
    }

    & > a {
      font-size: $medium-size;
      color: $ocean-blue;
    }

    &-top {
      @extend .tableDetail__cell;
    }
  }
  &__header {
    background-color: $pale-grey-two;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    height: auto;
    width: 100%;
    position: relative;
  }
  &__row {
    display: grid;
    align-items: center;
    position: relative;
    justify-items: center;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    height: auto;
    width: 100%;

    &:nth-child(odd) {
      background-color: $pale-grey-three;
    }

    &:hover {
      &.hasHover {
        background-color: rgba($light-mint, 0.2);
        cursor: pointer;
      }
    }

    &.top {
      height: auto;
      min-height: 5rem;
    }
  }

  &__top-row {
    display: grid;
    align-items: center;
    position: relative;
    justify-items: center;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    height: auto;
    width: 100%;

    &:nth-child(even) {
      background-color: $pale-grey-three;
    }

    &:hover {
      &.hasHover {
        background-color: rgba($light-mint, 0.2);
        cursor: pointer;
      }
    }
  }
}
