.billing {
  background-color: transparent;
  display: flex;
  padding: 2.4rem 1.6rem;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 86rem;
  @include tablet {
    flex-direction: column;
    max-width: 100%;
  }

  h1 {
    font-size: $big-size;
  }

  & > h3 {
    font-size: $small-title;
    color: $aqua-blue;
  }

  &__info {
    background-color: $pale-grey-three;
    border: 0.1rem solid $duck-egg-blue;
    margin: 2.4rem 0;
    padding: 2.4rem;
    & > p,
    & > strong {
      font-size: $regular-size;
      color: $blackio;
      line-height: 2.4rem;
    }
  }

  &__form {
    justify-content: center;
    width: 100%;
  }

  &__msg {
    margin: 2.4rem 0;
  }

  &__row {
    width: 100%;
    position: relative;
    &.total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.8rem 0;
      width: calc(100% - 2.4rem);
      & > p {
        width: auto;
        & > strong {
          font-size: $medium-size;
        }
        @include mobile {
          width: 50%;
        }
      }
      @include mobile {
        width: 100%;
      }
    }
  }

  &__container {
    background-color: $white;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2.4rem 0;
    padding: 1.6rem 2.4rem;
    width: 100%;
    @include tablet {
      padding: 1.6rem 0;
      max-width: 100%;
    }
    &.box {
      margin: 0.8rem 0;
      width: 83.2rem;
    }
  }

  &__main {
    width: 100%;
    max-width: 51.2rem;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    & > [class^="btn__"] {
      width: 100%;
      max-width: 24.8rem;
    }
  }

  &.btn__primary {
    margin: 1.2rem 0;
    max-width: 16.8rem;
  }

  & [class^="btn__"] {
    width: 100%;
    max-width: 24.8rem;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    margin: 4rem 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 105.6rem;

    p {
      margin: 1.6rem 0;
      font-size: $regular-size;
    }
  }
}
