.cart {
  background-color: transparent;
  display: flex;
  padding: 2.4rem 1.6rem;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 126rem;
  @include tablet {
    flex-direction: column;
    max-width: 100%;
  }
  @include mobile {
    padding: 0.8rem;
  }

  &__wrapper {
    display: flex;
    margin: 4rem 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 105.6rem;

    p {
      margin: 1.6rem 0;
      font-size: $regular-size;
    }
  }

  &__items {
    background-color: $white;
    border: 0.1rem solid $very-light-pink;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &-wrapper {
      width: calc(100% - 30.8rem);
      @include desktop-m {
        width: calc(100% - 25rem);
      }
      @include tablet {
        width: 100%;
      }
      &.full {
        width: 100%;
      }
    }
  }

  &__empty {
    @extend .cart__items;
    font-size: $big-title;
    justify-content: center;
    align-items: center;
    color: $duck-egg-blue;
    min-height: 24rem;
    margin: 1.6rem 0;
  }
  &__filled {
    margin: 1.6rem 0;
  }

  &__delete {
    max-width: 13.2rem;
  }
  &__wishlist {
    max-width: 17rem;
  }

  &amount {
    background-color: $white;
    border: 0.1rem solid $very-light-pink;
    border-radius: $radius;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    @include desktop-m {
      width: 24rem;
    }
    @include tablet {
      margin-top: 1.6rem;
      width: 100%;
    }

    &__section {
      align-items: flex-end;
      justify-content: space-between;
      border-bottom: 0.1rem solid $pale-grey-two;
      padding: 1.6rem;
      height: auto;
      width: 100%;
      &:first-child {
        padding-top: 2.4rem;
        @include tablet {
          padding: 0.8rem 2rem;
        }
      }
      &.grey {
        background-color: rgba($pale-grey-two, 0.5);
        padding-bottom: 0;
        @include tablet {
          padding: 0.8rem 2rem;
        }
      }
      & > em {
        color: $blue-grey;
        font-style: normal;
      }
    }
    &__row {
      display: flex;
      padding: 1.6rem 0;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      @include tablet {
        margin-bottom: 0;
        padding: 0.4rem 0;
      }
      &.title {
        margin-bottom: 4rem;
        & > span {
          font-size: $regular-size;
          font-weight: $semibold;
          text-align: left;
          width: auto;
        }
        @include tablet {
          margin-bottom: 0;
          padding: 0.8rem 0;
        }
      }
      &.paypal {
        @include tablet {
          justify-content: center;
          margin: 0 auto;
          padding: 0.8rem 0;
        }
      }
    }
    &__price {
      font-size: $big-size;
      font-weight: $semibold;
      text-align: right;
      width: auto;
      @include tablet {
        font-size: $big-size-m;
      }
    }
    &__payment {
      @include button(100%, "primary");
      margin: 0.8rem 0;
    }
    &__total {
      font-size: $tiny-title;
      font-weight: $semibold;
      @include tablet {
        font-size: $big-size-m;
      }
    }
  }
}
