.entry {
  &__row {
    margin: 2.4rem 0;
  }

  &__endrow {
    margin: 1.6rem 0 1.6rem auto;
  }

  &__filters {
    margin: 2.4rem 0;
  }

  &__finder,
  &__radios {
    width: 48%;
  }

  &__radios {
   justify-content: space-between;
   max-width: 54rem;
  }
}
