.vfilters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.6rem 0;
  width: calc(100% - 28rem);
  position: relative;
  @include tablet {
    width: 100%;
  }

  @include mobile {
    padding: 0;
  }

  &test {
    &__in {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      height: auto;
      overflow-y: auto;
      max-height: 150rem;
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      overflow-y: hidden;
    }
  }

  &__vertical {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    position: relative;
    justify-items: stretch;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    height: auto;
    width: 100%;
    @include until(1248px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include until(920px) {
      grid-column-gap: 0.4rem;
      grid-template-columns: repeat(1, 1fr);
    }
    @include mobile {
      grid-column-gap: 0;
    }
  }

  &__wrapper {
    background-color: $white;
    border: 0.1rem solid $very-light-pink;
    border-radius: $radius;
    display: flex;
    margin: 4.8rem 0;
    padding: 0;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 64rem;
    width: 100%;
    position: relative;
    @include mobile {
      margin: 2.4rem 0;
      padding: 2.4rem 0.8rem;
    }
  }
  &__sidebar {
    position: relative;
    border-radius: $radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0.1rem solid $very-light-pink;
    padding: 2.4rem 1.6rem;
    height: 100%;
    width: 30rem;
    min-width: 30rem;
    @include tablet {
      background-color: $white;
      padding: 1.6rem;
      position: absolute;
      top: 1rem;
      left: 0;
      transform: translateX(-115%);
      transition: 0.4s ease-in;
      z-index: 10;
      width: 31rem;
      height: auto;
      &.opened {
        transform: translateX(-10px);
        transition: 0.4s ease-out;
      }
    }
  }

  &__bottomnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
    width: 100%;
    position: relative;
    &:before {
      background: $gradient-white;
      content: "";
      display: flex;
      height: 4rem;
      width: 100%;
      position: absolute;
      top: -4rem;
      left: 0;
    }

    @include mobile {
      flex-direction: column-reverse;
      height: 13.2rem;
    }
  }
  &__topmenu {
    border-bottom: 0.1rem solid $very-light-pink;
    padding: 0 2.4rem 0.8rem 2.4rem;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      justify-content: center;
    }

    @include mobile {
      padding: 0.8rem;
    }

    & > h2 {
      font-size: $big-size;
    }
    & > h4 {
      font-size: $big-size;
      @include tablet {
        padding: 0;
        font-size: $regular-size;
        margin: 2.4rem 0;
        width: calc(100% - 4.8rem);
      }

      @include mobile {
        padding: 0;
        font-size: $regular-size;
        margin: 0;
      }

      & > strong {
        margin-left: 0.4rem;
        font: inherit;
        color: $aqua-blue;
      }
      & > span {
        font-weight: $regular;
        color: $blue-grey;
        @include mobile {
          font-size: $small-size;
        }
      }
      &.vfilters__midtitle {
        max-width: 54%;
        line-height: 3.2rem;

        @include mobile {
          max-width: 100%;
        }
      }
    }
  }
  &__filterbtn {
    margin: 2.4rem 0;
    display: none;
    width: 4rem;
    @include tablet {
      display: flex;
      position: relative;
    }
  }

  &__mobile {
    @include tablet {
      margin: auto;
    }
  }

  &__filtersApply {
    display: none;
    @include tablet {
      @include button("auto", "primary");
      font-size: $small-size;
    }
  }
  &__opacity {
    background-color: rgba($dusk, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    display: none;
    @include tablet {
      &.opened {
        display: block;
      }
    }
  }
  &__message {
    &.row.center {
      margin-top: 3.2rem;
      width: 100%;
    }
  }
}
