.entries {
  &__setting {
    margin: 2.4rem 0;
    align-items: center;
    & > .dropdown__wrapper,
    & > button[class^="btn__"] {
      width: 24%;
    }

    & > .dropdown__wrapper {
      margin: 0 0.8rem;
    }

    & > button[class^="btn__"] {
      margin-left: auto;
    }
  }
}
