.entries {
  &__setting {
    margin: 2.4rem 0;
    align-items: center;
    & > .dropdown__wrapper,
    & > div[class^="btn__"] {
      width: 24%;
    }

    & > .dropdown__wrapper {
      margin: 0 0.8rem;
    }

    & > div[class^="btn__"] {
      margin-left: auto;
    }
  }

  &__top {
    margin: 2.4rem 0;

    & > .btn__secondary {
      margin-left: 2.4rem;
    }
  }
}
