@import '../shared/vars.scss';
.static {
  background-color: $white;
  &__head {
    color: $greyo;
    margin: 2.4rem 0;
    max-width: 84rem;
    h3 {
      color: inherit;
    }
  }

  &__lists {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    width: auto;
    max-width: 96%;
    strong {
      color: $greyo-end;
    }
  }

  &__items {
    list-style-type: circle;
    padding: 0;
    margin: 1.6rem 0;
    color: $greyo-end;
    width: 100%;
    &.ordered {
      list-style-type: decimal;
    }
    & > li {
      margin: 0.8rem 0;
      font-size: $medium-size;
      color: inherit;
      text-align: left;
      line-height: 3.2rem;
    }
    &.sub {
      padding-left: 3.2rem;
    }
  }

  &__row {
    margin: 1.6rem 0;
    color: $greyo;
    h3 {
      margin: 1.6rem 0;
      font-size: $big-size;
      display: block;
      text-align: left;
      color: $greyo;
      font-weight: $semibold;
    }

    p {
      margin: 1.6rem 0;
      font-size: $medium-size;
      color: $greyo;
      line-height: $small-title;
      & > a {
        font-size: inherit;
      }
    }
    strong {
      font-size: inherit;
      color: $greyo;
    }
  }

  &__wrapper {
    display: flex;
    margin: 4rem 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 105.6rem;
  }
}

.deliveries {
  background-color: $white;
  h3 {
    color: $aqua-blue;
    text-align: center;
  }

  &__head {
    color: $greyo;
    margin: 4.8rem 0;
    max-width: 84rem;
  }

  &__wrapper {
    display: flex;
    margin: 4rem 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 105.6rem;
    p {
      margin: 1.6rem 0;
      font-size: $regular-size;
    }
  }
}

.orders {
  background-color: $white;

  h4 {
    color: $greyo;
    text-align: center;
    font-weight: $regular;
    font-size: $big-size;
  }

  &__head.row {
    margin: 4rem 0;
    max-width: 96%;
    h3 {
      text-align: left;
    }
    p {
      color: $greyo;
      text-align: left;
      font-weight: $regular;
      line-height: $small-title;
    }
  }

  &__lists {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    width: auto;
    max-width: 96%;
    h3 {
      margin: 1.6rem 0;
      font-size: $big-size;
      display: inline-block;
      text-align: left;
      font-weight: $semibold;
    }
    strong {
      color: $greyo-end;
    }
  }

  &__items {
    list-style-type: circle;
    padding: 0;
    margin: 1.6rem 0;
    color: $greyo-end;
    width: 100%;
    &.ordered {
      list-style-type: decimal;
    }
    & > li {
      margin: 2.4rem 0;
      font-size: $regular-size;
      color: inherit;
      text-align: left;
      line-height: 3.2rem;
    }
    &.sub {
      padding-left: 3.2rem;
    }
  }

  &__message {
    &-i {
      background-color: $pale-grey;
      border-radius: $radius;
      display: flex;
      flex-direction: column;
      padding: 2.4rem;
      width: 100%;
      & > p {
        padding: 3.6rem 2.4rem;
        color: rgba($greyo, 0.8);
        text-align: justify;
        & > * {
          font-size: inherit;
        }
      }
      & > strong {
        color: rgba($greyo, 0.8);
      }
    }
  }

  &__wrapper {
    display: flex;
    margin: 4rem 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 105.6rem;
    & > p {
      margin: 1.6rem 0;
      font-size: $regular-size;
      color: $greyo;
    }
  }
}
