.productDetail {
  background-color: $white;
  border: 0.1rem solid $very-light-pink;
  border-radius: 0.4rem;
  display: flex;
  margin: 0.4rem 0;
  padding: 2.4rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include tablet {
    flex-direction: column;
    padding: 2.4rem 1.6rem;
  }

  &__back {
    margin: 0.8rem auto 0rem 0;
    &.btn__link {
      font-size: $big-size;
      @include tablet {
        width: auto;
      }
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    max-height: 40rem;
    width: 100%;
    max-width: 25.6rem;
    & > img {
      display: block;
      margin: auto;
      width: 100%;
    }
    @include tablet {
      max-width: 16.8rem;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    line-height: $tiny-title;
    position: relative;
    @include tablet {
      margin: 2.4rem 0;
      justify-content: center;
    }
    & > span {
      display: none;
    }
    & > strong {
      font-size: $small-title;
      font-weight: $semibold;
      line-height: $tiny-title;
    }
    &.discount {
      padding-left: 5.6rem;
      &:before {
        @include icon-discount;
        content: "";
        background-color: transparent;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        font-size: $small-title;
        color: $white;
        height: 4rem;
        width: 4rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      & > span {
        color: $tomato;
        text-decoration: line-through;
        display: inline-block;
      }
      & > strong {
        font-size: $small-title;
        font-weight: $semibold;
        line-height: $tiny-title;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: calc(100% - 32.8rem);
    @include tablet {
      align-items: center;
      width: 100%;
    }
    & > h1 {
      font-size: $tiny-title;
      font-weight: $semibold;
      margin: 1.6rem 0;
    }
    & > strong {
      font-size: $regular-size;
      font-weight: $semibold;
      line-height: $tiny-title;
    }
    & > span {
      font-size: $regular-size;
      font-weight: $semibold;
      color: $blue-grey;
      line-height: $tiny-title;
      &.productDetail__notAvailable {
        font-size: $medium-size;
        color: $tomato;
      }
    }
    & > p {
      margin: 1.6rem 0;
      font-size: $regular-size;
      line-height: $tiny-title;
    }
  }
  &__buttons {
    margin: 1.6rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    @include tablet {
      margin: 2.4rem 0;
      justify-content: center;
    }
  }
  &__cart {
    max-width: 20rem;
    @include mobile {
      margin: 0.4rem 0;
      justify-content: center;
      width: 100%;
    }
  }
  &__wishlist {
    margin-right: 2.4rem;
    max-width: 20rem;
    @include mobile {
      margin: 0.4rem 0;
      justify-content: center;
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    &.empty {
      min-height: 44rem;
    }
  }
  &__related {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    & > h4 {
      margin: 2.4rem 0;
    }
  }
}
