.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include mobile {
    flex-direction: column;
  }
  &__avatar {
    background-color: rgba($blue-grey, 0.4);
    background-size: contain;
    background-position: center;
    border-radius: 100%;
    @include icon("hero", $blue-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    margin-right: 2.4rem;
    height: 8rem;
    width: 8rem;
    @include mobile {
      margin: 0 auto;
      height: 7.2rem;
      width: 7.2rem;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include mobile {
      align-items: center;
    }
    & > h2 {
      font-size: $big-size;
      color: $blackio;
    }
    & > p {
      font-size: $regular-size;
      color: $blackio;
    }
  }
  &__password {
    @include button("auto", "secondary");
    margin: 1.6rem 0;
  }
  &__container {
    background-color: $white;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 4rem 0;
    padding: 1.6rem 2.4rem;
    width: 100%;
    max-width: 90.2rem;
    @include tablet {
      padding: 1.6rem;
      max-width: 100%;
    }
  }
}
