.wishlist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 27rem);
  @include tablet {
    width: 100%;
  }
  &__typed {
    margin: 2.4rem 0;
    & > h4 {
      font-size: $small-title;
      & > span {
        font-size: inherit;
        color: $dusk;
      }
    }
  }
  &__wrapper {
    background-color: $white;
    border: 0.1rem solid $very-light-pink;
    border-radius: 0.4rem;
    display: flex;
    padding: 2.4rem;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 64rem;
    width: 100%;
    position: relative;
    @include mobile {
      padding: 2.4rem 1.6rem;
    }
  }
  &__filters {
    position: relative;
    @include tablet {
      background-color: $white;
      border-radius: $radius;
      padding: 1.6rem;
      position: absolute;
      top: -8.2rem;
      left: 0;
      transform: translateX(-115%);
      transition: 0.4s ease-in;
      z-index: 10;
      width: 100%;
      max-width: 90%;
      &.opened {
        transform: translateX(-19px);
        transition: 0.4s ease-out;
      }
    }
  }
  &__topmenu {
    justify-content: center;
    @include tablet {
      justify-content: space-between;
      align-items: center;
    }
  }
  &__filtersButon {
    @include button("8rem", "secondary");
    margin: 2.4rem 0;
    display: none;
    @include tablet {
      display: flex;
      position: relative;
    }
  }
  &__filtersClose {
    display: none;
    @include tablet {
      @include button("auto", "secondary");
      color: $aqua-blue;
      font-size: $small-size;
    }
  }
  &__filtersApply {
    display: none;
    @include tablet {
      @include button("auto", "primary");
      font-size: $small-size;
    }
  }
  &__opacity {
    background-color: rgba($dusk, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    display: none;
    @include tablet {
      &.opened {
        display: block;
      }
    }
  }
  &__message {
    &.row.center {
      margin-top: 3.2rem;
      max-width: 90%;
    }
  }
}
